@model BookShare.MVC.Models.EditoraViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid container-details">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h4>Informações</h4>
                <hr />
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                </dl>
            </div>
            <p>
                <a href="/Editoras/Edit/@Model.EditoraId" class="btn btn-primary">Editar</a>
                <a href="/Editoras/Delete/@Model.EditoraId" class="btn btn-danger">Excluir</a>
                <a href='@Url.Action("Index", "Editoras")' class="btn btn-default">Voltar</a>
            </p>
        </div>
    </div>
</div>
