@section styles{
    <style>
        
    </style>
}
<ul class="navbar-right">
    <li>@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-warning" })</li>
</ul>