@model IEnumerable<BookShare.MVC.Models.CategoriaViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid container-details">
    <div class="row">
        <div class="col-md-6">
            <h2>
                Categorias
            </h2>
            <p>
                <a href='@Url.Action("Create", "Categorias")' class="btn btn-default">Nova Categoria</a>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="/Categorias/Details/@item.CategoriaId">@Html.DisplayFor(modelItem => item.Nome)</a>

                        </td>
                        <td>
                            <a href="/Categorias/Edit/@item.CategoriaId" class="btn btn-primary">Editar</a>
                            <a href="/Categorias/Delete/@item.CategoriaId" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

