@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section styles{
    <style>
       body {
            background-image: url("../../Content/image/image-home.jpeg");
            border-image-repeat: no-repeat;
            color: #fff;
        }
       .content-home{
           margin-top: 18em;
       }
       h1{
           font-size: 60px;
           font-weight: bold;
       }
    </style>
}
    <div class="container-fluid">
        <div class="content-home">
            <h1>SUA PRÓXIMA LEITURA,<br /> AGORA.</h1>
        </div>
    </div>
