@model BookShare.MVC.Models.LivroViewModel

@{
    ViewBag.Title = "Delete";
}
@section styles{

    <style>
        .form-actions {
            padding-bottom: 2em;
        }

    </style>
    }
    <div class="container-fluid container-details">
        <div class="row">
            <div class="col-md-12">
                <h3>Você tem certeza que deseja deletar?</h3>
                <div>
                    <hr />
                    <article>
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Titulo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Titulo)
                            </dd>
                        </dl>

                    </article>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Confirmar" class="btn btn-danger" />
                            <a href='@Url.Action("Index", "Livros")' class="btn btn-default">Voltar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
