@model IEnumerable<BookShare.MVC.Models.LivroViewModel>

@{
    ViewBag.Title = "Adicionados recentemente";
}
@section styles{
    <style>
        

        .panel, .img-card {
            /*margin-left: -15px;*/
            padding: 0;
            border-radius: 5px;
        }

        .panel {
            margin-left: 15px;
        }
        /*.field{
            padding: 5px;
        }*/
        @@media (Min-width: 900px) {
            .col-md-3 {
                width: 23.5%;
            }
        }


        h4 {
            font-weight: bold;
        }
    </style>
}
<div class="container">
    <h2>@ViewBag.Title</h2>

    <p>
        <a href='@Url.Action("Create", "Livros")' class="btn btn-default">Novo Livro</a>
    </p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="panel panel-default col-md-3">
                <img src="@item.Foto" border="0" class="img-card" />
                <div class="panel-body">
                    <h4>@Html.DisplayFor(modelItem => item.Titulo)</h4>
                    <a href="/Livros/Details/@item.LivroId" class="btn btn-warning">Confira</a>

                </div>
            </div>
        }
    </div>
</div>
