@model BookShare.MVC.Models.AutorViewModel

@{
    ViewBag.Title = "Delete";
}

@section styles{

    <style>
        .form-actions {
            padding-bottom: 2em;
        }
    </style>
}
<div class="container-fluid container-login">
    <div class="row">
        <div class="col-md-12">
            <h3>Você tem certeza que deseja deletar esse autor?</h3>
            <div>
                <hr />
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Confirmar" class="btn btn-danger" />
                        <a href='@Url.Action("Index", "Autores")' class="btn btn-default">Voltar</a>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
