@model BookShare.MVC.Models.AutorViewModel

@{
    ViewBag.Title = "Details";
}
@section styles{
    <style>
        .btn {
            margin-top: 2em;
        }
    </style>
}

<div class="container-fluid container-details">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h4>Informações</h4>

                <hr />
                <article>
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                </article>
            </div>
            <p>
                <a href="/Autores/Edit/@Model.AutorId" class="btn btn-primary">Editar</a>
                <a href="/Autores/Delete/@Model.AutorId" class="btn btn-danger">Excluir</a>
                <a href='@Url.Action("Index", "Autores")' class="btn btn-default">Voltar</a>

                @*@Html.ActionLink("Edit", "Edit", new { id = Model.AutorId }) |
                    @Html.ActionLink("Back to List", "Index")*@
            </p>
        </div>
    </div>
</div>

